.features {
  background-size: cover;
  background-position: center;
  padding: 60px 10px;
}

.features-container {
  max-width: 1200px;
  margin: auto;
}

.features-title {
  padding-right: 140px;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  color: #c62828; /* red */
  margin-bottom: 40px;
}

.features-row {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.feature-box {
  background: #827470;
  color: #fff;
  flex: 1;
  min-width: 200px;
  max-width: 210px;
  border-radius: 45px;
  height: auto;
  border: 2px solid rgb(0, 0, 0); /* Thicker border */
  padding: 10px 7px; /* More horizontal padding */
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
  transition: transform 0.3s ease;
}
.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.shift-up {
  margin-top: -90px; /* adjust this value for how high you want them */
  margin-bottom: 90px;
}

.feature-icon {
  width: 100px;
  height: auto;
}

.feature-box h3 {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.feature-box p {
  font-size: 20px;
  line-height: 1.2;
  color: #f1f1f1;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  padding : 40px 0;
  direction: rtl; 
  background-color: #a7a6a6;
  outline: rgba(77, 77, 77, 0.3) solid 5px;
}

.stat-box {
  text-align: center;
}

.stat-box h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.stat-box h3 span {
  color: #444;
}

.stat-box h3::before {
  content: "";
}

.stat-box h3 {
  color: #b63d2b;
}

.stat-box span {
  color: #333; 
}

.stat-icon {
  width: 100px;
  height: auto;
  margin-top: 10px;
}
