/* Reset default margin */
body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

/* Hero section */
.hero-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; /* text starts top */
  min-height: 530px;
  padding: 90px;
  direction: rtl;
  color: #626262;

  background: url("vecteezy_the-sky-is-blue-and-cloudy_44592778.png") no-repeat center;
  background-size: cover;
  overflow: hidden; /* hides overflow of the image if needed */
}

.hero-text p {
  white-space: pre-line;
  margin-inline-start: 50px;
}



/* Overlay for contrast */
.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  z-index: 1;
}

/* Left side text */
.hero-text {
  position: relative;
  z-index: 2;
  flex: 1;
  max-width: 50%;
  text-align: right;
  padding-top: 20px; /* spacing from top */
}

.hero-text h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-logo {
  max-width: 500px;
  margin: 15px 0;
}

.hero-text p {
  font-size: 28px;
  line-height: 1.6;
}

/* Right side image: bottom-right */
.hero-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 900px;
  height: auto;
  z-index: 2;
}

